<h1><%= @person.name %></h1>
<h1><%= "Age: #{@person.age}" %></h1>
<h1><%= @person.hair_color %></h1>
<h1><%= @person.eye_color %></h1>
<h1><%= @person.gender %></h1>
<h1><%= @person.alive %></h1>
<%= link_to 'Back', person_index_path %>